/******************************************************
            made with ♡ by mohammed dhabaab!


                    table of contents
    
    1.initiation
    2.normalization
    3.typography
    4.global styles
        1.general text styles
        2.site background
        3.general layout
        4.overriding glass-bg
        5.adding padding
        6.hamburger menu
        7.logo/copy-right styles
        8.hover state
        9.images styles
        10.search bar styles
        11.some styles
********************************************************/
/******************** 1.initiation ********************/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
:root {
    --primary-color: hsl(0, 0%, 100%);
    --secondary-color: hsl(0, 0%, 90%);
    --thirdly-color: rgba(0, 222, 255, 1);
    
    --font-family: "Manrope", sans-serif;
    --logo-font-family: "Bad Script", var(--font-family);
    --fs-100: 0.875rem;/* 14px for sub-details*/
    --fs-200: 1.125rem;/* 18px for p*/
    --fs-300: 1.25rem;/* 20px for h3*/
    --fs-400: 1.375rem;/* 22px for h2*/
    --fs-500: 1.75rem; /* 28px for h1*/
    --fs-600: 2.5rem; /* 40px for logo & hero*/
    --fw-600: 600;
    --fw-700: 700;
    
    --size-50: 0.438rem;/* 7px */
    --size-100: 0.875rem;/* 14px */
    --size-200: 1.25rem;/* 20px */
    --size-300: 2.5rem;/* 40px */

    --mobile-html-font: 14px;
    --tablet-html-font: 16px;

    --main-container-max-width: 1000px;

    --transition: all 0.3s ease-in-out;

    /* glassmorphism background variables */
    --gm-bg-color: rgba(255, 255, 255, 0.2);
    --gm-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --gm-border: 1px solid rgba(255, 255, 255, 0.3);
    --gm-border-radius: 16px;
    --gm-backdrop-filter: blur(5px);

    /* buttons */
    --btn-bg-color: rgba(0, 222, 255, 0.6);
    --btn-radius: 16px;
    --btn-border: 1 solid rgba(0, 222, 255, 0.3);
    --btn-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --btn-backdrop-filter: blur(5px);
    --btn-padding: calc(var(--size-200) / 4) var(--size-200);
}

/* css variable does not work in media queries, I wished it work
--mobile-size: 442px; --> max-width
--tablet-size: 442px; --> min-width
--desktop-size: 960px; --> min-width
*/

/******************* 2.normalization *******************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;   
}


body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


img,
picture,
svg {
    max-width: 100%;
    display: block;
}


img {
    height: auto;
}


button {
    background: transparent;
    border: 0;
    cursor: pointer;
}


li {
    list-style: none;
}


a {
    text-decoration: none;
    text-align: center;
}


/******************** 3.typography ********************/
h1 {
    font-size: var(--fs-500);
    font-weight: var(--fw-700);
}


h2 {
    font-size: var(--fs-400);
    font-weight: var(--fw-600);
}


h3 {
    font-size: var(--fs-300);
    font-weight: 400;
}


p {
    font-size: var(--fs-200);
}


.sub-details {
    font-size: var(--fs-100);
    color: var(--secondary-color);
}


/******************* 4.global styles *******************/
/* 1.general text styles */
* {
    color: var(--primary-color);
    text-shadow: 1px 1px 1px #000000;
    font-family: var(--font-family);
    line-height: 1.4;
    transition: var(--transition);
}


/* 2.site background */
body {
    background: url(../assets/images/site-backgrounds/site-background-2.jpg) fixed center;
    min-width: fit-content;
    height: 100%;
}


/* 3.general layout */
.header-nav {
    display: none;
}


@media (min-width: 960px) {
    .header-nav {
        display: flex;
    }


    .hamburger-menu-container {
        display: none;
    }
}


/* 4.overriding glass-bg
overriding "glass-bg" utility class
note: order is importent in main-style.css,
without there are need to write !important. 
*/
.main-container {
    border-radius: 0;
}


.header-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.footer-container {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


/* 5.adding padding
adding padding for some general container
*/
.header-container,
.footer-container {
    padding: var(--size-200) calc(var(--size-200) * 2);
}


/* 6.hamburger menu
for mobile and tablet
*/
.hamburger-menu-container{
    cursor: pointer;
    height: 40px;
    width: 44px;
    padding: 10px;
}


.hamburger-menu {
    width: 24px;
}


.hamburger-menu-container:hover{
    background-color: var(--thirdly-color);
}


.hamburger-menu-container:hover > * {
    background-color: var(--primary-color);
}


/* 7.logo/copy-right styles */
.logo,
.logo-written,
.copy-right {
    font-family: var(--logo-font-family);
}


.logo {
    font-size: var(--fs-600);
}


.copy-right,
.fa-heart {
    opacity: 0.7;

}


.copy-right {
    font-size: calc(var(--size-100) - 1px);
    margin-top: var(--size-50);
}


.fa-heart {
    font-size: calc(var(--size-100) - 2px);
}


.logo-written,
.fa-heart{
    cursor: none;
}


.fa-heart:hover {
    color: red !important; /* to override .fa:hover  */
}


/* 8.hover state */
.logo:hover,
.logo-written:hover,
a:hover {
    color: var(--thirdly-color);
}


.fa:hover {
    opacity: 0.7;
    color: var(--thirdly-color);
    transform: scale(1.09);
}


/* 9.images styles */
img {
    border-radius: var(--gm-border-radius);
}


.recommended-article-image {
    max-width: 200px;
}


.avatar-container {
    max-width: 40px;
}


@media (max-width: 442px) {
    .recommended-article-image {
        max-width: 140px;
    }
    
    
    .avatar-container {
        max-width: 30px;
    }
}


.author-avatar {
    border-radius: 50%;
}


/* 10.search bar styles */
.search-bar {
    padding: calc(var(--size-200) / 2) var(--size-200);
}


.search-input {
    flex: 1;
    width: 90%;
    background: transparent;
    border: 0;
    outline: 0;
}


.search-input::placeholder {
    color: var(--secondary-color);
    opacity: 0.6;
}


.search-button {
    border: 0;
    outline: 0;
}


/* 11.some styles */
.line-break-1,
.line-break-2 {
    border: 0;
    padding: 3px;
}


.line-break-1 {
    margin: 44px 0;
}


.line-break-2 {
    margin: 11px 0;
}


::selection {
    background-color: var(--thirdly-color);
    color: var(--primary-color);
}

.rtl-direction {
    direction: rtl;
}